<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item>
      <ion-label>Book</ion-label>
      <ion-select multiple="false" [(ngModel)]="selectedBook" (ionChange)="onBookChange()">
        <ion-option *ngFor="let book of books" [value]="book">{{book.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Chapter</ion-label>
      <ion-select id="chapterIonSelect" multiple="false" [(ngModel)]="selectedChapter" (ionChange)="onChapterChange()">
        <ion-option *ngFor="let chapter of chapters" [value]="chapter">{{chapter}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div class="verse-element" *ngFor="let verse of verses" >
    <h4 class="verse-number">{{verse.field[3]}}</h4> 
    <div class="verse-text">{{verse.field[4]}}</div>
    <hr/>
  </div>
</ion-content>
